

/* General */
@font-face {    
  font-family: "Alogard";
  src: url( "../images/fonts/alagard_by_pix3m-d6awiwp.ttf" ) format( "ttf" );
}

body {
  font-family: "Alogard", Helvetica;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: black;
}
/* HTML */
/* Containers */
.top-container {
  flex-direction: row;
  justify-content: center;
  background-color: green;
}

.game-container {
  min-width: 520px;
  min-height: 520px;
  padding: 10px;
  background: url( "./../images/game_border/gameboard_border.png");
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin: 0 40px;
}

/* Gameboard */
.game-board {
  width: 480px;
  height: 478px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.chatbox-container {
  display: flex;
  flex-direction: row;
  min-height: 150px;
}

.portrait-box {
  background-color: green;
  border: 1px solid black;
  min-width: 150px;

}
.chat-box {
  background-color:red;
  border: 1px solid black;
  min-width: 350px;

}

/* GAME */
/* Tiles */
.tile {
  min-width: 5.26%;
  min-height: 5.26%;
  background-image: url("../images/board_ground/ground_visited.png");
  flex: 1;
}

.border {
  background-image: url("../images/sprite_border.png");
  background-position: center;
  background-size: cover;
}
.unvisited {
  background-image: url("../images/board_ground/ground_unvisited.png");
  background-position: center;
  background-size: cover;
}

.princess {
  background-image: url("../images/npc_princess/princess_sprite\ down.png");
  background-position: center;
  background-size: cover;
}
.end-boss {
  background-image: url("../images/npc_endboss/sprite_end\ boss_down.png");
  background-position: center;
  background-size: cover;
}
.fire-sword {
  background-image: url("../images/player_items/w_broadsword_fire.png");
}   
.fow {
  background-image: url("../images/board_ground/ground_fow.png");
}
.visited {
  background-image: url("../images/board_ground/ground_visited.png");
  background-position: center;
  background-size: cover;
}
.border-visited {
  background-image: url("../images/game_border/sprite_border.png");
  background-position: center;
  background-size: cover;
}
.player {
  background-image: url("../images/player_char/sprite_up.png");
  background-position: center;
  background-size: cover;
}
.gate {
  background-image: url("../images/game_border/gate.png");
  background-position: center;
  background-size: cover;
}

