

/* General */
@font-face {    
  font-family: "Alogard";
  src: url( "../images/fonts/ef_conv_zip_Jk64jd9vZy550GbwK82bGAeF/alagard_by_pix3m-d6awiwp.woff" ) format( "woff" );
}
/* Ironhero blue: #189ad3
     darker blue: #005073 */
* {
  color: #189ad3;
  font-family: "Alogard"
}
body {
    background-color: black;
    font-family: "Alogard", Helvetica;
}

/* HTML */
/* Containers */

.screen-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-container {
  flex-direction: column;
  justify-content: center;
  width: auto;
}

h1 {
  text-decoration: underline;
}

.game-container {
  min-width: 520px;
  min-height: 520px;
  padding: 10px;
  background: url( "./../images/game_border/gameboard_border.png");
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin: 0 40px;
}

/* Gameboard */

.center-container {
 display: flex;
 flex-direction: row;
 justify-content: center;
}

.left-container {
  background-color:black;
  min-width: 6vw;
}

.game-board {
  width: 480px;
  height: 478px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.time-box-container {
  border: solid #005073;
  width: 86px;
  height: 66px;
}

#time-box {
  color: white;
  background-color: #005073;
  border: solid #189ad3;
  width: 80px;
  height: 60px;
  display: flex;
  flex-direction: column;

  align-items: center;
  font-size: 18px;
}
#time {
  font-size: 20px;
}




/* GAME */
/* Tiles */
.tile {
  min-width: 5.26%;
  min-height: 5.26%;
  background-image: url("../images/board_ground/ground_visited.png");
  flex: 1;
}

.border {
  background-image: url("../images/sprite_border.png");
  background-position: center;
  background-size: cover;
}
.unvisited {
  background-image: url("../images/board_ground/ground_unvisited.png");
  background-position: center;
  background-size: cover;
}

.princess {
  background-image: url("../images/npc_princess/princess_sprite\ down.png");
  background-position: center;
  background-size: cover;
}
.end-boss {
  background-image: url("../images/npc_endboss/sprite_end\ boss_down.png");
  background-position: center;
  background-size: cover;
}
.fire-sword {
  background-image: url("../images/player_items/w_broadsword_fire.png");
  background-position: center;
  background-size: cover;
  background-color:gray ;
}   
.budgi {
  background-image: url("../images/npc_misc/budgi_sprite.png");
  background-position: center;
  background-size: cover;
}
.dragon {
  background-image: url("../images/npc_misc/dragon_sprite.png");
  background-position: center;
  background-size: cover;
}
.fow {
  background-image: url("../images/board_ground/ground_fow.png");
}
.visited {
  background-image: url("../images/board_ground/ground_visited.png");
  background-position: center;
  background-size: cover;
}
.border-visited {
  background-image: url("../images/game_border/sprite_border.png");
  background-position: center;
  background-size: cover;
}
.player {
  background-image: url("../images/player_char/sprite_up.png");
  background-position: center;
  background-size: cover;
}
.gate {
  background-image: url("../images/game_border/gate.png");
  background-position: center;
  background-size: cover;
}
.game-over {
  font-family: "Alogard"; 
  font-size: 100px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

/* Chatbox */
.chatbox-container {
  display: flex;
  flex-direction: row;
  min-width: 640px;
  max-width: 640px;
  min-height: 120px;
  border: solid #005073;
}
.portrait-box {
  background-color: #005073;
  border: 2.5px solid  #189ad3;
  min-width: 120px;
}
.chat-box {
  background-color:#005073;
  color: white;
  border: 2.5px solid  #189ad3;
  min-width: 500px;
  max-width: 500px;
  padding: 5px;
}
.princess-portrait {
  background-image: url("../images/npc_princess/princess_portrait.png");
  background-position: center;
  background-size: cover;
}
.villian-portrait {
  background-image: url("../images/npc_endboss/endboss_portrait.png");
  background-position: center;
  background-size: cover;
}
.budgi-portrait {
  background-image: url("../images/npc_misc/budgi_portrait.png");
  background-position: center;
  background-size: cover;
}
.flaming-sword-large {
  background-image: url("../images/player_items/flaming-sword-crystal-large.png");
  background-position: top;
  background-size: 200px 100px;
  background-repeat: no-repeat;
}
.item-box {
  width: 100px;
  height: auto; 
  font-size: 24px;
  flex-direction: column;
  align-content: center;
}
.item-box-text {
  min-height: 200px;
  text-align: center;
}
.item-box-pic {
  width: 100px;
  height: 200px;

}